<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cce.css">
    <title>weblod</title>
</head>
<body>
    <!-- <div class="topbar">
        <h1>UBHS</h1>
    </div> -->
    <div class="choice">
        <h1>WHAT ARE YOU?</h1>
        <div class="buttons">
            <form action="/choice" method="post">
                    <button name="job" class="stud" value="student">
                        <!-- <h2>Student</h2> -->
                        <img src="student.png">
                    </button>
                    <button name="job" class="teacher" value="teacher">
                        <!-- <h2>teacher</h2> -->
                        <img src="teacher.png">
                    </button>
            </form>
        </div>
    </div>
    <!-- <footer class="credit">
    © 2026 Trường đẹp trai • All rights reserved
    </footer> -->
</body>
</html>