body {
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh; 
  background: #2f024f;
  background: linear-gradient(8deg, rgba(47, 2, 79, 1) 0%, rgba(70, 34, 125, 1) 38%, rgba(90, 107, 191, 1) 66%, rgba(227, 227, 227, 1) 100%);
  background-size: cover;
  color: rgba(247, 244, 244, 0.9);
}
/* CHOICE */
.choice{
  margin-bottom: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-direction: column;
  flex-wrap: wrap;
}
.choice img{
  width: 50%;
  height: 50%;
  filter: drop-shadow(3px 3px 3px rgba(12, 12, 12, 0.272));
}
.buttons form{
  gap: 80px;
  display: flex;
  justify-content: space-between;
}
.stud,.teacher{
  width: 170px;
  aspect-ratio: 1;
  border-radius: 35px;
  position: relative;
  border-style: none;
  border-style: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(145deg, #ff7b8a, #ff4e6a);
  box-shadow:
    inset 0 4px 24px rgba(255,255,255,0.4),
    0 15px 34px rgba(255, 229, 235, 0.4);
  
  transition: 0.3s ease;
}
.stud:hover,.teacher:hover{
  cursor: pointer;
  transform: translateY(-10px) scale(1.05);
  box-shadow:
    inset 0 12px 36px rgba(255,255,255,0.4),
    0 10px 50px rgb(255, 229, 235);
}

